# CARGA DATASET

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
from google.colab import files
uploaded = files.upload()

Saving urban_pluvial_flood_risk_dataset.csv to urban_pluvial_flood_risk_dataset (1).csv

In [5]:
df = pd.read_csv("urban_pluvial_flood_risk_dataset.csv")
df_original=pd.read_csv("urban_pluvial_flood_risk_dataset.csv")

## REVISIÓN INICIAL

In [6]:
df.head()

,segment_id,city_name,admin_ward,latitude,longitude,catchment_id,elevation_m,dem_source,land_use,soil_group,drainage_density_km_per_km2,storm_drain_proximity_m,storm_drain_type,rainfall_source,historical_rainfall_intensity_mm_hr,return_period_years,risk_labels
0,SEG-00001,"Colombo, Sri Lanka",Borough East,6.920633,79.912600,CAT-136,NaN,Copernicus_EEA-10_v5,Institutional,NaN,4.27,160.5,CurbInlet,ERA5,39.4,50,monitor
1,SEG-00002,"Chennai, India",Ward D,13.076487,80.281774,CAT-049,-2.19,Copernicus_EEA-10_v5,Residential,D,7.54,NaN,OpenChannel,ERA5,56.8,25,ponding_hotspot|low_lying|event_2025-05-02
2,SEG-00003,"Ahmedabad, India",Sector 12,23.019473,72.638578,CAT-023,30.88,SRTM_3arc,Industrial,B,11.00,152.5,OpenChannel,IMD,16.3,5,monitor
3,SEG-00004,"Hong Kong, China",Sector 14,22.302602,114.078673,CAT-168,24.28,SRTM_3arc,Residential,B,7.32,37.0,Manhole,ERA5,77.0,10,monitor
4,SEG-00005,"Durban, South Africa",Sector 5,-29.887602,30.911008,CAT-171,35.70,SRTM_3arc,Industrial,C,4.50,292.4,OpenChannel,ERA5,20.8,5,monitor

In [7]:
df.shape

(2963, 17)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2963 entries, 0 to 2962
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   segment_id                           2963 non-null   object
 1   city_name                            2963 non-null   object
 2   admin_ward                           2963 non-null   object
 3   latitude                             2963 non-null   float64
 4   longitude                            2963 non-null   float64
 5   catchment_id                         2963 non-null   object
 6   elevation_m                          2802 non-null   float64
 7   dem_source                           2963 non-null   object
 8   land_use                             2963 non-null   object
 9   soil_group                           2601 non-null   object
 10  drainage_density_km_per_km2          2679 non-null   float64
 11  storm_drain_proximity_m              2724 non-null   float64
 12  storm_drain_type                     2785 non-null   object
 13  rainfall_source                      2648 non-null   object
 14  historical_rainfall_intensity_mm_hr  2963 non-null   float64
 15  return_period_years                  2963 non-null   int64
 16  risk_labels                          2963 non-null   object
dtypes: float64(6), int64(1), object(10)
memory usage: 393.7+ KB

- segment_id: identificador único de cada segmento o área analizada dentro de la ciudad.

- city_name: nombre de la ciudad a la que pertenece el segmento.

- admin_ward: división administrativa menor dentro de la ciudad (ej. distrito, sector, barrio).

- latitude: latitud geográfica del segmento (coordenada norte-sur).

- longitude: longitud geográfica del segmento (coordenada este-oeste).

- catchment_id: identificador del área de cuenca pluvial a la que pertenece el segmento.

- elevation_m: elevación del terreno del segmento en metros sobre el nivel del mar.

- dem_source: fuente del modelo digital de elevación (ej. Copernicus, SRTM).

- land_use: tipo de uso de suelo predominante en el segmento (residencial, industrial, institucional, etc.).

- soil_group: clasificación del suelo según permeabilidad o características hidrológicas (ej. A, B, C, D).

- drainage_density_km_per_km2: densidad de drenaje en kilómetros de canales por kilómetro cuadrado en el segmento.

- storm_drain_proximity_m: distancia del segmento al drenaje pluvial más cercano (en metros).

- storm_drain_type: tipo de drenaje pluvial predominante (ej. cuneta, canal abierto, alcantarilla).

- rainfall_source: fuente de datos de lluvia (ej. ERA5, IMD).

- historical_rainfall_intensity_mm_hr: intensidad media de lluvia histórica registrada en mm por hora.

- return_period_years: período de retorno de eventos de lluvia (número de años entre eventos de cierta magnitud).

- risk_labels: etiquetas que indican la categoría de riesgo de inundación en el segmento (ej. monitor, hotspot, low-lying).

In [9]:
numeric_cols = df.select_dtypes(include=['int64','float64']).columns
df[numeric_cols].agg(['min', 'max'])

,latitude,longitude,elevation_m,drainage_density_km_per_km2,storm_drain_proximity_m,historical_rainfall_intensity_mm_hr,return_period_years
min,-36.999038,-123.292949,-3.0,1.27,0.2,5.4,2
max,55.821219,174.911271,266.7,12.07,751.7,150.0,100

In [10]:
categorical_cols = df.select_dtypes(include=['object']).columns
categorical_values = {col: df[col].nunique() for col in categorical_cols}
categorical_values

{'segment_id': 2963,
 'city_name': 63,
 'admin_ward': 91,
 'catchment_id': 180,
 'dem_source': 5,
 'land_use': 9,
 'soil_group': 4,
 'storm_drain_type': 4,
 'rainfall_source': 4,
 'risk_labels': 195}

In [11]:
categorical_cols = df.select_dtypes(include=['object']).columns
categorical_values = {col: df[col].unique().tolist() for col in categorical_cols[[4,5,6,7,8]]}
categorical_values

{'dem_source': ['Copernicus_EEA-10_v5',
  'SRTM_3arc',
  'Copernicus_GLO-30_v2023',
  'SRTM_1arc',
  'Copernicus_GLO-90_v2022'],
 'land_use': ['Institutional',
  'Residential',
  'Industrial',
  'Roads',
  'Commercial',
  'Green',
  'Water',
  'Mixed',
  'Informal'],
 'soil_group': [nan, 'D', 'B', 'C', 'A'],
 'storm_drain_type': ['CurbInlet',
  'OpenChannel',
  'Manhole',
  nan,
  'GratedInlet'],
 'rainfall_source': ['ERA5', 'IMD', 'LocalGauge', 'Blended', nan]}

In [12]:
df.duplicated().sum()

np.int64(0)

## Tratamiento de datos faltantes.
El primer paso sería ver si hay una explicación para que estos datos sean ausentes, en este caso, como no sabemos la procedencia no podremos tenerlo en cuenta para el tratamiento.

In [13]:
print(df.isna().sum())

segment_id                               0
city_name                                0
admin_ward                               0
latitude                                 0
longitude                                0
catchment_id                             0
elevation_m                            161
dem_source                               0
land_use                                 0
soil_group                             362
drainage_density_km_per_km2            284
storm_drain_proximity_m                239
storm_drain_type                       178
rainfall_source                        315
historical_rainfall_intensity_mm_hr      0
return_period_years                      0
risk_labels                              0
dtype: int64

In [14]:
len(df)*0.05

148.15

Todas las variables tienen más del 5% de datos faltantes, por lo que, en principio, no parece aconsejable eliminar dichas observaciones

In [15]:
#cols_to_drop=df.columns[df.isna().sum()<=148]
#df.dropna(subset=[cols_to_drop], inplace=True)

### **Variables categóricas.**
Para este tipo de variables, al no tener más información le asignaremos el valor 'Unknown' a los valores faltantes. En caso de tener más información acerca de la causa de la falta de los valores podríamos imputarlos de manera más adecuada, ya sea asignando la categoría correcta o creando una nueva categoría específica que refleje esa ausencia."

In [16]:
for col in ['soil_group', 'storm_drain_type', 'rainfall_source']:
    df[col] = df[col].fillna('Unknown')

In [17]:
df.isna().sum()

segment_id                               0
city_name                                0
admin_ward                               0
latitude                                 0
longitude                                0
catchment_id                             0
elevation_m                            161
dem_source                               0
land_use                                 0
soil_group                               0
drainage_density_km_per_km2            284
storm_drain_proximity_m                239
storm_drain_type                         0
rainfall_source                          0
historical_rainfall_intensity_mm_hr      0
return_period_years                      0
risk_labels                              0
dtype: int64

### Variables numéricas
Para este tipo de variables, haremos primero un pequeño estudio para saber que estadística usar y si usar la global o por grupos.

In [18]:
df.groupby('city_name')['elevation_m'].apply(lambda x: x.isna().sum())

city_name
Accra, Ghana              0
Ahmedabad, India          5
Amsterdam, Netherlands    4
Athens, Greece            2
Auckland, New Zealand     2
                         ..
Taipei, Taiwan            2
Tehran, Iran              1
Tokyo, Japan              3
Vancouver, Canada         0
Washington DC, USA        5
Name: elevation_m, Length: 63, dtype: int64

In [19]:
df.groupby('city_name')['elevation_m'].describe()

,count,mean,std,min,25%,50%,75%,max
city_name,,,,,,,,
"Accra, Ghana",45.0,10.716444,8.109528,-3.0,4.4400,11.570,16.2800,24.37
"Ahmedabad, India",47.0,42.540426,34.126831,-3.0,16.3900,36.770,60.0950,125.51
"Amsterdam, Netherlands",42.0,10.441190,8.780262,-3.0,3.4825,9.605,17.0300,35.31
"Athens, Greece",56.0,52.789643,34.636458,-3.0,29.4725,52.400,74.7650,158.42
"Auckland, New Zealand",46.0,47.263913,29.637419,-3.0,24.3575,52.510,71.2575,96.10
...,...,...,...,...,...,...,...,...
"Taipei, Taiwan",40.0,54.900750,34.566700,-3.0,28.3250,55.910,75.9050,131.12
"Tehran, Iran",47.0,84.773617,65.982940,-3.0,46.7550,73.720,107.9650,266.70
"Tokyo, Japan",39.0,40.195897,35.227510,-3.0,10.2250,35.230,63.9650,116.88
"Vancouver, Canada",54.0,10.492778,8.740439,-3.0,3.8900,10.910,15.2025,33.39
"Washington DC, USA",49.0,46.825102,30.515533,-3.0,27.8100,53.670,67.2500,110.13

In [20]:
cities_with_nulls = df.loc[df['elevation_m'].isna(), 'city_name'].unique()
elev_stats = (
    df[df['city_name'].isin(cities_with_nulls)]
    .groupby('city_name')['elevation_m']
    .agg(['count','min','median','max', 'var', 'mean'])
    .sort_values('median')
)
print(elev_stats)

                           count   min  median     max          var       mean
city_name
Hong Kong, China              31 -3.00   6.290   24.28    58.792189   6.778065
Chennai, India                44 -3.00   7.260   27.64    74.691477   8.958636
Colombo, Sri Lanka            26 -3.00   9.170   22.39    59.815169   8.374231
Miami, USA                    43 -3.00   9.240   31.44    68.069957  10.646279
Jakarta, Indonesia            37 -3.00   9.540   27.70    63.324736  10.330270
Amsterdam, Netherlands        42 -3.00   9.605   35.31    77.092996  10.441190
Lagos, Nigeria                50 -3.00   9.670   33.93    79.795679  10.921000
Manila, Philippines           59 -3.00  10.300   28.80    73.793216   9.256441
Shenzhen, China               46 -3.00  10.310   29.04    86.191604  11.041522
Guangzhou, China              33 -3.00  10.350   32.00   105.987654  12.613333
Barcelona, Spain              51 -3.00  10.440   31.29    85.606286  11.720196
Sydney, Australia             41 -3.00  10.540   28.70    86.417502   9.243171
Shanghai, China               35 -3.00  10.650   20.50    57.047626   9.050857
Rio de Janeiro, Brazil        46 -3.00  10.830   27.68    56.927729  10.570435
Rotterdam, Netherlands        55 -3.00  11.380   29.84    60.821980  11.657091
Singapore, Singapore          50 -3.00  11.415   32.55    59.289133  11.771200
Bangkok, Thailand             34 -3.00  11.755   39.34    80.931524  11.618235
New Orleans, USA              48 -3.00  11.915   32.19    70.423367  12.427708
Philadelphia, USA             54 -3.00  28.330  126.85  1066.570700  34.992037
Mexico City, Mexico           52 -3.00  29.730  121.11   901.425443  39.923462
Houston, USA                  49 -3.00  31.890   86.60   832.522358  34.151429
Copenhagen, Denmark           49 -3.00  34.010   86.77   594.159076  33.872245
Durban, South Africa          53 -3.00  34.790  119.77   922.997725  42.024906
Tokyo, Japan                  39 -3.00  35.230  116.88  1240.977446  40.195897
Ahmedabad, India              47 -3.00  36.770  125.51  1164.640609  42.540426
Delhi, India                  55 -3.00  38.630  139.09  1018.011578  48.628727
Istanbul, Türkiye             54 -3.00  38.785  107.02   996.785073  39.972778
Seoul, South Korea            54 -3.00  39.735  127.23   860.736233  43.122222
New York, USA                 41 -3.00  39.880  111.04   849.318101  43.761220
Ho Chi Minh City, Vietnam     48 -3.00  40.325   95.53   857.771818  39.913333
Nairobi, Kenya                45 -3.00  40.600  106.50   884.210292  40.403778
Lima, Peru                    53 -3.00  42.610  122.72  1121.029013  41.998491
Doha, Qatar                   33 -3.00  43.430  107.47   969.456413  46.705455
Montreal, Canada              44 -3.00  43.475  129.52  1240.721586  42.763636
Bengaluru, India              49 -3.00  43.850  117.67  1195.234807  44.118163
Dhaka, Bangladesh             42 -3.00  44.790  120.63  1265.729905  46.346905
Brisbane, Australia           46 -3.00  45.930  138.78  1052.185864  45.623696
Buenos Aires, Argentina       48 -3.00  46.110  115.96  1275.953510  44.462708
Kuala Lumpur, Malaysia        39 -3.00  46.260  111.02   962.133062  47.722564
Riyadh, Saudi Arabia          42 -3.00  46.465  112.11  1122.208742  48.737381
Kolkata, India                41 -3.00  46.750  156.42  1393.112446  43.398049
Pune, India                   39 -3.00  47.810  103.71   836.967960  47.876410
London, UK                    27  4.53  52.390   93.45   750.801654  54.213333
Athens, Greece                56 -3.00  52.400  158.42  1199.684244  52.789643
Auckland, New Zealand         46 -3.00  52.510   96.10   878.376620  47.263913
Sao Paulo, Brazil             35 -3.00  53.560  128.63  1294.991261  54.897429
Washington DC, USA            49 -3.00  53.670  110.13   931.197759  46.825102
Paris, France                 50 -3.00  55.425  118.26   947.458323  55.505400
Taipei, Taiwan                40 -3.00  55.910  131.12  1194.856715  54.900750
Rome, Italy                   50 -3.00  56.925  119.80   915.421134  56.026200
Osaka, Japan                  36 -3.00  58.180  184.73  2468.838017  58.366667
Dubai, UAE                    39 -3.00  63.850  140.60  1469.694868  58.194872
Karachi, Pakistan             41 -3.00  68.190  230.96  3697.249635  80.024146
Tehran, Iran                  47 -3.00  73.720  266.70  4353.748406  84.773617
Bogotá, Colombia              41 -3.00  86.210  243.25  4877.101348  88.142195
San Francisco, USA            56 -3.00  89.895  215.05  3432.833913  84.108214
Cape Town, South Africa       48 -3.00  93.205  243.51  5619.606607  94.166042

In [21]:
medianas = (df[df['elevation_m'].notna()]
            .groupby('city_name')['elevation_m'].median())
cv = medianas.std() / medianas.mean()

print("CV medianas por ciudad:", round(cv, 3))
if cv > 0.15:
    print("→ Diferencias relevantes entre ciudades: imputa por ciudad (mediana por ciudad).")
else:
    print("→ Variabilidad baja: puedes imputar con la mediana global.")

CV medianas por ciudad: 0.614
→ Diferencias relevantes entre ciudades: imputa por ciudad (mediana por ciudad).

In [22]:
df['elevation_m'] = df.groupby('city_name')['elevation_m']\
                      .transform(lambda s: s.fillna(s.median()))

In [23]:
df.isna().sum()

segment_id                               0
city_name                                0
admin_ward                               0
latitude                                 0
longitude                                0
catchment_id                             0
elevation_m                              0
dem_source                               0
land_use                                 0
soil_group                               0
drainage_density_km_per_km2            284
storm_drain_proximity_m                239
storm_drain_type                         0
rainfall_source                          0
historical_rainfall_intensity_mm_hr      0
return_period_years                      0
risk_labels                              0
dtype: int64

In [30]:
def diagnose_strategy(df, col, group='city_name'):
    s = df[df[col].notna()].groupby(group)[col]
    stats = pd.DataFrame({
        'count':  s.size(),
        'mean':   s.mean(),
        'median': s.median(),
        'p10':    s.quantile(0.10),
        'p90':    s.quantile(0.90),
        'trimmed_mean_10': s.apply(lambda x: x[(x>=x.quantile(0.10)) & (x<=x.quantile(0.90))].mean())
    })
    stats['abs_diff_mean_median'] = (stats['mean'] - stats['median']).abs()
    stats['rel_diff_mean_median'] = stats['abs_diff_mean_median'] / (stats['median'].abs() + 1e-9)

    cv_medians = stats['median'].std() / (stats['median'].mean() + 1e-9)
    share_big_diff = (stats['rel_diff_mean_median'] > 0.10).mean()

    return stats.sort_values('abs_diff_mean_median', ascending=False), cv_medians, share_big_diff

In [32]:
num_targets = ['drainage_density_km_per_km2', 'storm_drain_proximity_m']

for col in num_targets:
    df[col] = pd.to_numeric(df[col], errors='coerce')

for col in num_targets:
    stats_city, cv_city, share_city = diagnose_strategy(df, col, group='city_name')
    print(f"\n=== {col} | Diagnóstico por ciudad ===")
    print(f"CV medianas entre ciudades: {cv_city:.3f}")
    print(f"% ciudades con |media-mediana| > 10%: {share_city:.1%}")
    print("Sugerencia:",
          "MEDIANA por CIUDAD" if (share_city > 0.30 or cv_city > 0.15) else "Mediana GLOBAL")

=== drainage_density_km_per_km2 | Diagnóstico por ciudad ===
CV medianas entre ciudades: 0.039
% ciudades con |media-mediana| > 10%: 0.0%
Sugerencia: Mediana GLOBAL

=== storm_drain_proximity_m | Diagnóstico por ciudad ===
CV medianas entre ciudades: 0.185
% ciudades con |media-mediana| > 10%: 98.4%
Sugerencia: MEDIANA por CIUDAD

En el primer caso, vemos que no hay casi diferencia entre media y mediana ya que ninguna ciudad hay más de un 10% de diferencia, además vemos que el CV entre medianas es muy bajo, podríamos optar tanto por la media como por la mediana global para imputar, en este caso decidimos usar la mediana, pero con la media las diferencias serían mínimas. Por otro lado para el segundo caso vemos que la diferencia entre media y mediana ya es mucho más alta y además y además el CV entre medianas es también más alto, por lo tanto, en este caso si que parece que la solución más óptima es escoger la mediana por grupos para imputar.

In [25]:
df['drainage_density_km_per_km2'] = df['drainage_density_km_per_km2']\
    .fillna(df['drainage_density_km_per_km2'].median())

In [26]:
df['storm_drain_proximity_m'] = df.groupby('city_name')['storm_drain_proximity_m']\
    .transform(lambda s: s.fillna(s.median()))

In [27]:
df.isna().sum()

segment_id                             0
city_name                              0
admin_ward                             0
latitude                               0
longitude                              0
catchment_id                           0
elevation_m                            0
dem_source                             0
land_use                               0
soil_group                             0
drainage_density_km_per_km2            0
storm_drain_proximity_m                0
storm_drain_type                       0
rainfall_source                        0
historical_rainfall_intensity_mm_hr    0
return_period_years                    0
risk_labels                            0
dtype: int64

In [28]:
for col in ['elevation_m', 'drainage_density_km_per_km2', 'storm_drain_proximity_m']:
    print(f"\n{col}")
    print("Original (sin imputar):")
    print(df_original[col].describe())
    print("\nTras imputación:")
    print(df[col].describe())

elevation_m
Original (sin imputar):
count    2802.000000
mean       37.689818
std        38.708958
min        -3.000000
25%         8.725000
50%        25.130000
75%        59.620000
max       266.700000
Name: elevation_m, dtype: float64

Tras imputación:
count    2963.000000
mean       37.583925
std        37.997337
min        -3.000000
25%         9.220000
50%        26.170000
75%        58.045000
max       266.700000
Name: elevation_m, dtype: float64

drainage_density_km_per_km2
Original (sin imputar):
count    2679.000000
mean        6.290866
std         2.187365
min         1.270000
25%         4.670000
50%         6.250000
75%         7.830000
max        12.070000
Name: drainage_density_km_per_km2, dtype: float64

Tras imputación:
count    2963.000000
mean        6.286949
std         2.079895
min         1.270000
25%         4.835000
50%         6.250000
75%         7.670000
max        12.070000
Name: drainage_density_km_per_km2, dtype: float64

storm_drain_proximity_m
Original (sin imputar):
count    2724.000000
mean      123.202203
std       107.764541
min         0.200000
25%        47.975000
50%        91.700000
75%       162.625000
max       751.700000
Name: storm_drain_proximity_m, dtype: float64

Tras imputación:
count    2963.000000
mean      120.470874
std       103.880766
min         0.200000
25%        50.700000
50%        91.300000
75%       155.350000
max       751.700000
Name: storm_drain_proximity_m, dtype: float64

Ya hemos eliminado todos los datos faltantes y hemos comprobado que los datos no cambian mucho respecto a los iniciales. De esta forma garantizamos que el dataset queda limpio de valores nulos, evitando problemas en el modelado posterior.